.header {
  position: relative;
  z-index: 999;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: #d3d3d3;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
  padding: 12px 0;
}
.header__logo {
  position: relative;
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo-link-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
@media (max-width: 1024px) {
  .header__logo-link-image {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .header__logo-link-image {
    width: 80px;
  }
}
.header__menu {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    -webkit-transition: background-color ease-in-out 0.4s;
    transition: background-color ease-in-out 0.4s;
  }
}
@media (max-width: 768px) {
  .header__menu.active {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
  }
}
.header__menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 28px;
}
@media (max-width: 1024px) {
  .header__menu-wrapper {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .header__menu-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 360px;
    width: 100%;
    padding: 120px 20px 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate(120dvh);
            transform: translate(120dvh);
    -webkit-transition: -webkit-transform ease-in-out 0.4s;
    transition: -webkit-transform ease-in-out 0.4s;
    transition: transform ease-in-out 0.4s;
    transition: transform ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
  }
}
.header__menu-wrapper::before {
  content: "";
}
@media (max-width: 1024px) {
  .header__menu-wrapper::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__menu.active .header__menu-wrapper {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 28px;
}
@media (max-width: 1024px) {
  .header__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 12px 24px;
  }
}
@media (max-width: 768px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.header__nav-link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.header__nav-link:hover {
  color: #888888;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
@media (max-width: 768px) {
  .header__contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.header__contacts-list-link {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.header__contacts-list-link:hover {
  color: #888888;
}
.header__contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
}
@media (max-width: 1024px) {
  .header__contacts-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
}
@media (max-width: 768px) {
  .header__contacts-social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header__contacts-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 32px;
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  border-radius: 32px;
}
.header__contacts-social-link_tg {
  background-color: #6c6dab;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
}
.header__contacts-social-link_tg:hover {
  background-color: #5c5d92;
}
.header__contacts-social-link_wp {
  background-color: #339d4a;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
}
.header__contacts-social-link_wp:hover {
  background-color: #2f8e43;
}
.header__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__callback-button {
  display: inline-block;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  border: none;
  border-radius: 8px;
  background-color: #217aff;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.header__callback-button:hover {
  color: #ffffff;
  background-color: #1b66d5;
}
.header__burger {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__burger-button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.header__burger-button::before, .header__burger-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 28px;
  height: 2px;
  background-color: #303030;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}
.header__burger-button::before {
  -webkit-transform: translate3d(-50%, calc(-50% + 4px), 0);
          transform: translate3d(-50%, calc(-50% + 4px), 0);
}
.header__burger-button::after {
  -webkit-transform: translate3d(-50%, calc(-50% - 4px), 0);
          transform: translate3d(-50%, calc(-50% - 4px), 0);
}
.header__burger-button.active::before {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
          transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}
.header__burger-button.active::after {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
          transform: translate3d(-50%, -50%, 0) rotate(45deg);
}