@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
html {
  font-size: 16px;
  font-family: "Inika", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Inika", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: relative;
  z-index: 999;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: #d3d3d3;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
  padding: 12px 0;
}
.header__logo {
  position: relative;
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo-link-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
@media (max-width: 1024px) {
  .header__logo-link-image {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .header__logo-link-image {
    width: 80px;
  }
}
.header__menu {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    -webkit-transition: background-color ease-in-out 0.4s;
    transition: background-color ease-in-out 0.4s;
  }
}
@media (max-width: 768px) {
  .header__menu.active {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
  }
}
.header__menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 28px;
}
@media (max-width: 1024px) {
  .header__menu-wrapper {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .header__menu-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 360px;
    width: 100%;
    padding: 120px 20px 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate(120dvh);
            transform: translate(120dvh);
    -webkit-transition: -webkit-transform ease-in-out 0.4s;
    transition: -webkit-transform ease-in-out 0.4s;
    transition: transform ease-in-out 0.4s;
    transition: transform ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
  }
}
.header__menu-wrapper::before {
  content: "";
}
@media (max-width: 1024px) {
  .header__menu-wrapper::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__menu.active .header__menu-wrapper {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 28px;
}
@media (max-width: 1024px) {
  .header__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 12px 24px;
  }
}
@media (max-width: 768px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.header__nav-link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
@media (max-width: 768px) {
  .header__contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.header__contacts-list-link {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.header__contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
}
@media (max-width: 1024px) {
  .header__contacts-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
}
@media (max-width: 768px) {
  .header__contacts-social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header__contacts-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 32px;
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  border-radius: 32px;
}
.header__contacts-social-link_tg {
  background-color: #6c6dab;
}
.header__contacts-social-link_wp {
  background-color: #339d4a;
}
.header__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__callback-button {
  display: inline-block;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  border: none;
  border-radius: 8px;
  background-color: #217aff;
  cursor: pointer;
}
.header__burger {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__burger-button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.header__burger-button::before, .header__burger-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 28px;
  height: 2px;
  background-color: #303030;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}
.header__burger-button::before {
  -webkit-transform: translate3d(-50%, calc(-50% + 4px), 0);
          transform: translate3d(-50%, calc(-50% + 4px), 0);
}
.header__burger-button::after {
  -webkit-transform: translate3d(-50%, calc(-50% - 4px), 0);
          transform: translate3d(-50%, calc(-50% - 4px), 0);
}
.header__burger-button.active::before {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
          transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}
.header__burger-button.active::after {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
          transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

.first-screen {
  margin: 50px 0 74px;
}
.first-screen__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media (max-width: 768px) {
  .first-screen__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.first-screen__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.first-screen__title {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #000;
}
.first-screen__description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.first-screen__figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 468px;
          flex: 0 0 468px;
  padding: 26px 58px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1024px) {
  .first-screen__figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 360px;
            flex: 0 0 360px;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .first-screen__figure {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.first-screen__figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 60px 5px;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 14px;
}
.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 10.5px);
          flex: 0 0 calc(25% - 10.5px);
  gap: 20px;
  min-height: 230px;
  padding: 25px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .services__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 7px);
            flex: 0 0 calc(50% - 7px);
  }
}
@media (max-width: 576px) {
  .services__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.services__card:nth-child(n+1) {
  background-color: #85c99f;
}
.services__card:nth-child(n+2) {
  background-color: #88bde9;
}
.services__card:nth-child(n+3) {
  background-color: #d6e86f;
}
.services__card:nth-child(n+4) {
  background-color: #14d8c7;
}
.services__card-info-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}
.services__card-info-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.services__card-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.services__card-figure-image {
  display: block;
  max-width: 100%;
  width: 90px;
  height: auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  background-color: #d9d9d9;
}

.advantages {
  margin: 60px 0 92px;
}
.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
@media (max-width: 768px) {
  .advantages__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.advantages__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.advantages__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 380px;
          flex: 0 0 380px;
  min-height: 546px;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 100px;
  background: url(../assets/advantages-banner-bg.jpg) center/cover no-repeat;
}
@media (max-width: 768px) {
  .advantages__banner {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-height: 360px;
    border-radius: 10px 50px;
  }
}
.advantages__banner-title {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #000;
}
.advantages__banner-button {
  display: inline-block;
  padding: 22px 44px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #000;
  border: none;
  border-radius: 10px;
  background-color: #c4d63d;
  cursor: pointer;
}
.advantages__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: #000;
}
.advantages__subtitle {
  margin: 24px 0 0;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}
.advantages__text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}