.footer {
  background: #757575;

  & .container {
    max-width: 1114px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 24px 0;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex: 1 1 100%;
      align-items: center;
      order: 0;
    }

    &-link {
      font-weight: 400;
      font-size: 16px;
      line-height: 187%;
      color: #fff;
      transition: color ease-in-out 0.2s;

      &:hover {
        color: #dddddd;
      }
    }
  }

  &__copyrights {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex: 1 1 100%;
      align-items: center;
      order: 2;
    }

    &-item {
      font-weight: 400;
      font-size: 16px;
      line-height: 187%;
      color: #fff;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex: 1 1 100%;
      align-items: center;
      order: 1;
    }

    &-link {
      font-weight: 400;
      font-size: 16px;
      line-height: 187%;
      color: #fff;
      transition: color ease-in-out 0.2s;

      &:hover {
        color: #dddddd;
      }
    }
  }
}
